<div class="row">
    <div class="col-xs-12">
        <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-responsive" style="max-height: 300px;">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{ recipe.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
      
        <div ngbDropdown class="d-inline-block">
          
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <a ngbDropdownItem (click)="AddingToSL()" style="cursor:pointer">To Shopping List</a>
              <a ngbDropdownItem style="cursor:pointer" (click)="onEditRecipe()">Edit recipe</a>
              <a ngbDropdownItem style="cursor:pointer" (click) = 'deleteRecipe()'>Delete recipe</a>
            </div>

            
            
        </div>

        

    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{ recipe.description }}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item" *ngFor='let ingredient of recipe.ingredients'>
                {{ingredient.name}} - {{ingredient.amount}}
            </li>
        </ul>
    </div>
</div>
